

html {
    min-height: 100%
}

body {
    color: #888da8;
    height: 100%;
    font-size: .875rem;
    background: #e9ecef;
    overflow-x: hidden;
    overflow-y: auto;
    letter-spacing: .0312rem;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}

